@media (max-width: 1000px) {
  .menu-wrap .menu > div {
    width: 150vw;
    height: 150vw;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    text-align: center;
    div {
      text-align: center;
    }
  }
  .menu-wrap .menu .nav-tab {
    &:hover > a:before {
      opacity: 0;
      transform: none;
    }
  }
  #contact {
    .contact-inner {
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.5rem;
    margin: 5px;
  }
  p {
    font-size: 0.8rem;
  }
  section {
    height: 100%;
  }
  .pimg1,
  .pimg2,
  .pimg3 {
    background-attachment: scroll;
  }
  .ptext {
    font-size: 1rem;
    letter-spacing: normal;
    top: 35%;
  }

  .menu-wrap {
    .hamburger {
      width: 70px;
      height: 60px;
      > div::before {
        top: -12px;
      }
      > div::after {
        top: 12px;
      }
    }
    .menu .nav-tab {
      font-size: 1.5rem;
      padding: 1rem;

      &:before {
        content: "";
        top: 0;
      }
    }
  }
  #contact {
    // height: auto;
    form {
      width: 88%;
      padding-left: 3%;
      padding-right: 3%;
      h1 {
        font-size: 2rem;
      }
      textarea {
        height: 150px;
      }
    }
  }
  footer {
    padding: 10px;
    p {
      font-size: small;
    }
  }

  #top-btn {
    display: none;
  }
}
