.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  opacity: 0.9;
}

.pimg1 {
  background: url("../img/img2.jpg") no-repeat center center/cover fixed;
  height: 70vh;
}
.pimg2 {
  background: url("../img/img1.jpg") no-repeat center center/cover fixed;
  height: 70vh;
}
.pimg3 {
  background: url("../img/img3.jpg") no-repeat center center/cover fixed;
  height: 70vh;
}
.pimg4 {
  background: url("../img/img2.jpg") no-repeat center center/cover fixed;
  height: 100vh;
}

.ptext {
  position: absolute;
  // min-height: 60vh;

  top: 55%;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 6px;
  color: $secondary-color;
  .border {
    background-color: rgba($secondary-color, 0.4);
    color: $primary-color;
    padding: 20px;
  }
}
section {
  height: 30vh;
}

// .big {
//   display: table-cell;
//   vertical-align: middle;
//   animation: scale 2s ease-in-out;
//   top: 0;
//   right: 0;
//   height: 100%;
//   text-align: center;
//   font-size: 5rem;
//   letter-spacing: 0px;
//   padding: 20px 120px;
//   line-height: 2;
//   margin: auto;
// }

@keyframes scale {
  0% {
    font-size: 0rem;
  }
  100% {
    font-size: 5rem;
  }
}
